<div hx-get="/blocos/cabecalho?bicho={{varanda.bicho_id}}" hx-trigger="load"></div>
<div class="pagina">
	<div class="bloco">
		<h1>Preferências de @{{query.bicho}}</h1>
		<br>
		<form id="formulario" action="/{{query.bicho}}/preferencias" method="PUT" hx-target="body">
			<h3>Tema:</h3>
			<br>
			<input id="0" type="radio" name="tema" value="0" {{#if bloco.preferencias.tema.zero}}checked{{/if}}>
			<label for="0">0 - Flamingo diurno</label>
			<br><br>
			<input id="1" type="radio" name="tema" value="1" {{#if bloco.preferencias.tema.um}}checked{{/if}}>
			<label for="1">1 - Flamingo noturno</label>
		</form>
		<br><br>
		<a href="/autenticacao/logout">Sair (logout)</a>
	</div>
</div>

<style>
	.pagina {
		text-align: left;
	}
	h1 {
		text-align: center;
		align-self: stretch;
	}
</style>