<div class="bloco avisos">
    <h2>Avisos</h2>
</div>

<style>
    .avisos {
        min-width: 18.35rem;
        min-height: 18.35rem;
    }
    @media screen and (max-width: 859px) {
        .avisos {
            min-width: 8rem;
            min-height: 8rem;
        }
    }
</style>