<button onclick="voltar()" aria-describedby="descricao-botao-voltar" style="display: block; padding: 0; margin: auto 0">
        <span class="oculto-aos-olhos">Botão voltar</span>
        <span id="descricao-botao-voltar" hidden>Voltar para a última página navegada.</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="2 0 21 21" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"
            aria-hidden="true" focusable="false">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M9 14l-4 -4l4 -4" />
            <path d="M5 10h11a4 4 0 1 1 0 8h-1" />
        </svg>
</button>

<script>
    function voltar(){
        window.history.back();
    }
</script>