<header class="varanda-cabecalho {{bloco.class}} {{#unless usuarie.logade}}varanda-cabecalho-grande{{/unless}}">
    <a href="/{{bloco.bicho.bicho_id}}">@{{bloco.bicho.bicho_id}}</a>
    <a href="javascript:history.back()">↩ voltar</a>
</header>