<div class="fundo" style="background-image: url(/{{bloco.bicho.bicho_id}}/fundo?{{momento}});" alt="{{bloco.bicho.descricao_fundo}}" title="{{bloco.bicho.descricao_fundo}}"></div>

<style>
.fundo {
		max-width: 100%;
		height: 120px;
		background-size: contain;
		background-repeat: repeat;
		border-top-right-radius: var(--raio-borda);
		border-top-left-radius: var(--raio-borda);
}
</style>