{{#with bloco.bicho}}
<div class="fundo" style="background-image: url(/{{bicho_id}}/fundo);" alt="{{descricao_fundo}}" title="{{descricao_fundo}}"></div>
{{/with}}

<style>
.fundo {
		max-width: 100%;
		height: 120px;
}
</style>