{{#unless bloco.paginas.unica}}
<nav class="navegacao {{bloco.class}}">
{{#each bloco.paginas}}
    <a 
        {{#if this.atual}}style="background-color: var(--cor-principal);"{{/if}}
        href="/{{this.pagina_vid}}"
    >{{this.titulo}}</a>
{{/each}}
</nav>
{{/unless}}