@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');

:root {
    --altura-barra:         2.2rem;
    --altura-barra-mobile:  3rem;
    --cor-principal:        #3a3336;
    --cor-destaque:         #464650;
    --cor-destaque-2:       #e0b6bc; /* daa297 */
    --cor-gris:             #363636;
    --cor-gris-2:           #202020;
    --cor-fundo:            #2c2c2c;
    --cor-fundo-2:          #232324;
    --cor-fonte-view:       #e0e0e0;
    --cor-fonte-barra:      #d0cecd;
    
    --familia-fonte:        'Convergence', sans-serif;
    font-family:            var(--familia-fonte);
    
    --estilo-borda:         none;
    --espessura-borda:      0;
    --raio-borda:           0.4rem;
    --sombreado:            2px 3px 4px rgba(27, 21, 14, 0.2);
    font-size:              1em;
}