<div id="hero">
	<h1>Bem-vinde de volta!</h1>
</div>

<form id="form-login" action="/autenticacao/login" method="post">
		<h3>Digite os dados para entrar</h3>
		<label for="bicho_id">Apelido (@):</label>
		<input type="text" id="nome-login" placeholder="nome de perfil" name="bicho_id" required>
		<label for="senha">Senha:</label>
		<div class="div-senha">
        <input class="input-senha" type="password" id="senha-login" placeholder="senha" name="senha" required>
        <svg onclick="toggleSenha()" width="26" height="17" viewBox="0 0 107 68">
            <path id="path-senha" fill="#666666" stroke="none" d="M 52.844482 67.802734 C 59.127075 67.802734 64.970215 66.932007 70.373779 65.19043 C 75.777466 63.448853 80.6521 61.210938 84.997925 58.476563 C 89.343506 55.742188 93.054565 52.853149 96.130981 49.80957 C 99.207031 46.765991 101.567017 43.893188 103.21106 41.191406 C 104.85498 38.489624 105.677002 36.357422 105.677002 34.794922 C 105.677002 33.199829 104.85498 31.05957 103.21106 28.374023 C 101.567017 25.688477 99.207031 22.823853 96.130981 19.780273 C 93.054565 16.736694 89.343506 13.847656 84.997925 11.113281 C 80.6521 8.378906 75.777466 6.140991 70.373779 4.399414 C 64.970215 2.657837 59.127075 1.787109 52.844482 1.787109 C 46.659546 1.787109 40.881592 2.657837 35.510498 4.399414 C 30.139404 6.140991 25.272827 8.378906 20.910889 11.113281 C 16.54895 13.847656 12.813721 16.736694 9.704956 19.780273 C 6.596191 22.823853 4.203491 25.688477 2.5271 28.374023 C 0.850708 31.05957 0.012451 33.199829 0.012451 34.794922 C 0.012451 36.357422 0.850708 38.489624 2.5271 41.191406 C 4.203491 43.893188 6.596191 46.765991 9.704956 49.80957 C 12.813721 52.853149 16.54895 55.742188 20.910889 58.476563 C 25.272827 61.210938 30.139404 63.448853 35.510498 65.19043 C 40.881592 66.932007 46.659546 67.802734 52.844482 67.802734 Z M 52.844482 60.966797 C 47.929199 60.966797 43.217285 60.242554 38.70874 58.793945 C 34.200317 57.345337 30.057983 55.506226 26.281982 53.276367 C 22.505981 51.046509 19.218262 48.710938 16.418823 46.269531 C 13.619263 43.828125 11.446411 41.565796 9.900146 39.482422 C 8.354004 37.399048 7.580933 35.836548 7.580933 34.794922 C 7.580933 33.948608 8.354004 32.516235 9.900146 30.498047 C 11.446411 28.479858 13.619263 26.233765 16.418823 23.759766 C 19.218262 21.285767 22.505981 18.901367 26.281982 16.606445 C 30.057983 14.311523 34.200317 12.407227 38.70874 10.893555 C 43.217285 9.379883 47.929199 8.623047 52.844482 8.623047 C 57.759888 8.623047 62.471924 9.379883 66.980347 10.893555 C 71.48877 12.407227 75.630981 14.311523 79.406982 16.606445 C 83.182983 18.901367 86.470825 21.285767 89.270264 23.759766 C 92.070068 26.233765 94.234619 28.479858 95.764038 30.498047 C 97.293945 32.516235 98.05896 33.948608 98.05896 34.794922 C 98.05896 35.836548 97.293945 37.399048 95.764038 39.482422 C 94.234619 41.565796 92.070068 43.828125 89.270264 46.269531 C 86.470825 48.710938 83.182983 51.046509 79.406982 53.276367 C 75.630981 55.506226 71.48877 57.345337 66.980347 58.793945 C 62.471924 60.242554 57.759888 60.966797 52.844482 60.966797 Z M 52.844482 56.230469 C 56.848389 56.230469 60.469849 55.253906 63.70874 53.300781 C 66.947754 51.347656 69.527466 48.74353 71.447998 45.488281 C 73.36853 42.233032 74.328857 38.668579 74.328857 34.794922 C 74.328857 30.791016 73.36853 27.169556 71.447998 23.930664 C 69.527466 20.691772 66.947754 18.120117 63.70874 16.21582 C 60.469849 14.311523 56.848389 13.359375 52.844482 13.359375 C 48.840698 13.359375 45.211182 14.311523 41.955933 16.21582 C 38.700684 18.120117 36.112671 20.691772 34.192139 23.930664 C 32.271606 27.169556 31.311279 30.791016 31.311279 34.794922 C 31.343872 38.668579 32.320435 42.233032 34.240967 45.488281 C 36.161621 48.74353 38.741455 51.347656 41.980347 53.300781 C 45.219238 55.253906 48.840698 56.230469 52.844482 56.230469 Z M 52.844482 42.070313 C 50.826294 42.070313 49.092896 41.354126 47.644287 39.921875 C 46.195801 38.489624 45.471558 36.78064 45.471558 34.794922 C 45.471558 32.776733 46.195801 31.051392 47.644287 29.619141 C 49.092896 28.18689 50.826294 27.470703 52.844482 27.470703 C 54.862793 27.470703 56.588013 28.18689 58.020264 29.619141 C 59.452637 31.051392 60.168823 32.776733 60.168823 34.794922 C 60.168823 36.78064 59.452637 38.489624 58.020264 39.921875 C 56.588013 41.354126 54.862793 42.070313 52.844482 42.070313 Z"/>
        </svg>
    </div>
		<button type="submit">Entrar</button>
</form>

<style>
	#hero {
		text-align: center;
	}

	#form-login {
        max-width: 360px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
        align-items: center;
        gap: 1rem;
	}
	.div-senha {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    .input-senha {
        max-width: 10rem;
    }
    .div-senha svg {
        cursor: pointer;
    }
</style>

<script>
    function toggleSenha() {
        let inputSenha = document.getElementById('senha-login');
        if (inputSenha.getAttribute('type') === 'password') {
            inputSenha.setAttribute('type', 'text');
            document.getElementById('path-senha').setAttribute('fill', '#111111');
        } else {
            inputSenha.setAttribute('type', 'password');
            document.getElementById('path-senha').setAttribute('fill', '#666666');
        }
    }
</script>