<div id="container">
<div hx-get="/blocos/cartao-de-visita?bicho={{varanda.bicho_id}}" hx-trigger="load"></div>
<br>
<marquee>meu emoji da sorte é 💩</marquee>
</div>
<style>
#container {
display: block;
max-width: 960px;
margin: 0 auto;
text-align: center;
}
</style>