<div class="pagina">
<div hx-get="/blocos/cartao-de-visita?bicho={{varanda.bicho_id}}" hx-trigger="load"></div>
<br>
<section class="bloco">
<p>oie</p>
<marquee>meu emoji da sorte é: ⌚ (relógio) </marquee>
<a href="/xarope/curiosidades">Curiosidades</a>
</section>
</div>

<style>
section {
text-align: center;
}
</style>