<div class="bloco">
		<h2>Visualização</h2>
		<div id="visualiza-pc" class="visualiza-pagina-pc">
            {{htmx}}
        </div>
		<div id="visualiza-mobile" class="visualiza-pagina-mobile">
            {{htmx}}
        </div>
</div>