<div style="text-align: center;">
<h1>Maracujá</h1>
<h2>Olá, bem-vinde à minha varanda!</h2>
<p>me chamo maracujá e estou descobrindo a internet...</p>
<h3>Terceira seção</h3>
<p>como assim? tô entendendo nada</p>
<h4>E esta é a quarta</h4>
<p>quarta-feira? quarta parte?</p>
<h5>Quinta Júpiter</h5>
<p>vixe............</p>
<h6>Sextou!</h6>
<marquee>~ ~ ~ espero que você goste do meu websaite ~ ~ ~</marquee>
<p style="color:darkred;">não é fácil programar em html D:</p>
<br>
<br>
<a href="/maracuja/sobre">sobre mim</a>
</div>