<h2>Sobre mim</h2>
<ul>
    <li>bonite</li>
    <li>cheirose</li>
    <li>carinhose</li>
    <li>humilde</li>
    <li>atrapalhade</li>
</ul>

<a href="/maracuja">voltar &lt;-</a>

<footer>~ maracujá ~</footer>