<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/estilo-0-padrao.css">
    <title>{{varanda.bicho_id}}</title>
</head>
<body hx-boost="true">
 
    {{#if usuarie.logade}}
        {{> barra}}
    {{/if}}
 
    {{#if flash.aviso}}
        <dialog open>
            <p>{{flash.aviso}}</p>
            <br>
            <form method="dialog" hx-boost="false">
                <button>entendi!</button>
            </form>
        </dialog>
    {{/if}}

    {{#if flash.erro}}
        <dialog open>
            <p>{{flash.erro}}</p>
            <br>
            <form method="dialog" hx-boost="false">
                <button>entendi!</button>
            </form>
        </dialog>
    {{/if}}
 
    <main id="varanda-janela" {{#unless usuarie.logade}}class="sem-login"{{/unless}}>
        {{{body}}}
    </main>

</body>

{{#if usuarie.logade}}
    <script>
        window.addEventListener('pageshow', limpaBarra());
        function limpaBarra () {
            document.querySelector('#varanda-botao-contexto').classList.remove('pressionado');
            document.querySelector('#varanda-menu-contexto').classList.remove('aberto');
            document.querySelector('#varanda-botao-geral').classList.remove('pressionado');
            document.querySelector('#varanda-menu-geral').classList.remove('aberto');
        }
    </script>
{{/if}}

</html>