<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/estilo-0-padrao.css">
    <title>{{varanda.bicho_id}}</title>
</head>
<body hx-boost="true">
 
    {{#if usuarie.logade}}
        {{> barra}}
    {{/if}}
 
    {{#if flash_message}}
        <dialog open>
            <p>{{flash_message}}</p>
            <form method="dialog" hx-boost="false">
                <button>entendi!</button>
            </form>
        </dialog>
    {{/if}}
 
    <main id="varanda-janela">
        {{{body}}}
    </main>

</body>
</html>